.image-container {
  position: relative;
}

.image-container--image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.event-detail-container {
  padding: 0 10 10 10;
  margin-left: 20px;
}

.event-detail {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  font-size: 1.1rem;
}

.event-signup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.event-signup--price-description {
  font-weight: bold;
  font-size: 1.1rem;
}

.event-signup--price {
  font-weight: bold;
  font-size: 1.5rem;
  color: $md-primary-color;
}

.event-signup-thumbnail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-left: 20px;
  border-top: 1px solid rgba(15,70,100,.12);
}

.event-signup-thumbnail--price-description {
  font-weight: bold;
  font-size: 1.1rem;
}

.event-signup-thumbnail--price {
  font-weight: bold;
  font-size: 1.3rem;
  color: $md-primary-color;
}
