.thumbnail-card {
  flex-direction: row;
  display: flex;
  min-height: 120px;
  margin-bottom: 20px;
  padding: 10px;
}

.thumbnail-image {
   width: 35%;
   background-position: center;
   height: 100px;
   background-size: cover;
   align-self: center;
}

.thumbnail-day {
   font-style: italic;
   font-size: 50px;
   text-align: center;
   color: white;
   margin-bottom: 30px;
}

.thumbnail-month {
   font-style: italic;
   font-size: 20px;
   text-align: center;
   color: white;
}

.thumbnail-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
}

.thumbnail-text--title {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(47, 47, 47);
  margin: 0;
}

.thumbnail-text--subtitle {
  font-weight: bold;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
