.thumbnail-card {
  flex-direction: row;
  display: flex;
  height: 150px;
  margin-bottom: 20px;
}

.thumbnail-image {
   width: 35%;
   background-position: center;
   background-size: cover;
}

.thumbnail-day {
   font-style: italic;
   font-size: 50px;
   text-align: center;
   color: white;
   margin-bottom: 30px;
}

.thumbnail-month {
   font-style: italic;
   font-size: 20px;
   text-align: center;
   color: white;
}

.thumbnail-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
