.service-info {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.service-price--description {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 2px;
  font-size: .9rem;
}

.service-price--price {
  font-weight: bold;
  font-size: 2rem !important;
  color: $md-primary-color;
  margin-top: 0;
  margin-bottom: 0;
}

.service-option--container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
