.event-title--container {
  text-align: center;
  margin-bottom: 30px;
}

.event-page--button {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.event-page--detail-container {
  max-width: 500px;
  margin: 0 auto;
}
