.featured-card--image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.featured-card--container {
   position: relative;
}

.featured-card--publish-date {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 5;
  font-size: .8rem;
  text-transform: uppercase;
}
