@import url('https://fonts.googleapis.com/css?family=Merriweather:300italic,300');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~react-md/src/scss/react-md';
@import '~normalize.css';
// @import 'theme.scss';

$md-primary-color: $md-orange-a-700;
$md-font-family: 'Merriweather';
$md-drawer-mobile-max-width: 225px;
$md-drawer-desktop-width: 225px;

@include react-md-everything;

html {
 background-color: rgb(210, 210, 210);
}
