@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Martel:400,800');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~react-md/src/scss/react-md';
@import '~normalize.css';
// @import 'theme.scss';

$md-primary-color: $md-orange-a-700;
$md-font-family: 'Martel';
$md-drawer-mobile-max-width: 225px;
$md-drawer-desktop-width: 225px;

@include react-md-everything;

@import './ThumbnailCard/styles';

html {
 background-color: rgb(210, 210, 210);
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.search-container {
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.toolbar-title-searching {
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.toolbar-title {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.search {
  display: flex;
  width: 0;
  transition: width 500ms;
  -webkit-transition: width 500ms;
  overflow: hidden;
}

.search-searching {
  display: flex;
  width: 200px;
  transition: width 500ms;
  -webkit-transition: width 500ms;
}

.sidebar-header {
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 10px;
  text-align: right;
}
