@use 'react-md' as * with (
  $rmd-theme-light: true,
  $rmd-theme-primary: #2f2f2f,
  $rmd-theme-secondary: #ec6602,
  $rmd-typography-font-family: 'Martel'
  // other variable overrides
);

@include react-md-utils;

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Martel:400,800');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



$md-primary-color: #ec6602;
$md-drawer-mobile-max-width: 225px;
$md-drawer-desktop-width: 225px;

@font-face {
  font-family: 'AstroGadget';
  src: url('AstroGadget.ttf')  format('truetype');
}

@import './ThumbnailCard/styles';
@import './TextWithChevron/styles';
@import './FeaturedEventCard/styles';
@import './FeaturedCard/styles';
@import './AboutNikkiCard/styles';
@import './SidebarHeader/styles';
@import './TouchableLink/styles';
@import './Common/styles';
@import './ZodiacWheel/styles';
@import './Footer/styles';
@import './RelatedItemChipList/styles';
@import './Jumbotron/styles';
@import './ServiceCard/styles';
@import './ServicePage/styles';
@import './EventPage/styles';
@import '../pages/styles';


html {
 background-color: #fff;
}

.rmd-layout-nav {
  background-color: #2f2f2f;
}

.rmd-layout-nav-header {
  background-color: #ec6602;
  color: white;

  .rmd-app-bar__title {
    font-family: 'Berkshire Swash';
    font-style: italic;
  }
}

.rmd-app-bar__title {
  font-family: 'Berkshire Swash';
  font-style: italic;
}
/* flex utility classes */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center--spaced {
  display: flex;
  align-items: center;
  padding: 5px;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

/* shared classes */
.content-container {
  padding: 10px;
}


.bordered-content {
  padding: 20px;
  border: 1px solid rgba(15,70,100,.12);
  border-radius: 5px;
}

.info-text {
  font-weight: bold;
  margin-bottom: 2px;
}

.padded-section {
  padding: 10px;
}

.archive--container {
  margin-bottom: 30px;
  margin-top: 20px;
}

.header-icons-container {
  display: flex;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-contents {
  padding: 10px;
}

@media only screen and (min-width: 839px) {
  .sidebar-contents {
    padding-left: 30px;
  }

  .main-contents {
    padding-top: 10px
  }
}

.snip-header__title {
  color: white;
}


.dialog-container-style {
  min-width: 300px;
}

@media only screen and (min-width: 839px) {
  .dialog-container-style {
    min-width: 600px;
  }
}

.search-container {
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.header-search-container {
  height: 100%;

}

.search {
  width: 0;
  transition: width 500ms;
}

.search-searching {
  width: 200px;
  transition: width 500ms;
}

.search-input {
  width: 100%;
  display: flex;
}

.search-modal--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $md-primary-color;
  margin-bottom: 10;
  padding: 5px 10px;
  * {
    color: white;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.search-modal--input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  ::placeholder {
    color: rgba(0, 0, 0, 0.87);
  }
}
