.chevron-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chevron-text--chevron {
   color: $md-primary-color;
}

.chevron-text--text {
   color: $md-primary-color;
   font-weight: bold;
   font-size: 14px;
   margin: 0;
}
