.title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  margin-bottom: 0;
}

.subheader {
  color: rgb(247, 105, 0);
  font-weight: bold;
}

.subheader__big {
  font-size: 1.5rem;
}

.link--container {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.link--container__right {
  justify-content: flex-end;
}

.back-title {
  color: $md-primary-color;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1rem;
}

.content-with-icon {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  font-size: 1.1rem;
}

.caption {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 2;
  font-weight: bold;
  font-size: .9rem;
}
