.title {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  margin-bottom: 0;
}

.subheader {
  color: rgb(247, 105, 0);
  font-weight: bold;
  marginBottom: 10px,
}

.subheader__big {
  font-size: 1.5rem;
}

.back-link--container {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.back-title {
  color: $md-primary-color;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1rem;
}
